.alege-floarea {
    .option {
        height: 160px !important;
        width: 210px !important;
    }

    .alege-floarea-floareasoarelui {
        background-image: url('../../../media/questions/alege-floarea/floareasoarelui.png');
    }
    .alege-floarea-ghiocel {
        background-image: url('../../../media/questions/alege-floarea/ghiocel.png');
    }
    .alege-floarea-lalalea {
        background-image: url('../../../media/questions/alege-floarea/lalalea.png');
    }
    .alege-floarea-rose {
        background-image: url('../../../media/questions/alege-floarea/rose.png');
    }
    .alege-floarea-lotus {
        background-image: url('../../../media/questions/alege-floarea/lotus.png');
    }
    .alege-floarea-nuStiuCeEDarECute {
        background-image: url('../../../media/questions/alege-floarea/nuStiuCeEDarECute.png');
    }
}