.single-answer {
    height: 467px;
    width: 830px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .q-image {
            height: 150px;
            width: 150px;
            background-repeat: no-repeat;
            background-size: contain; 
            background-position: center;
            margin: 10px 20px;
        }

    }

    .options {
        height: 400px;
        width: 830px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .option {
            height: 350px;
            width: 190px;
            background-repeat: no-repeat;
            background-size: contain; 
            background-position: center;
            border-radius: 10px;
            border: 2px solid #ccc;

            &:hover {
                box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
            }
            
            &.given {
                background-color: rgba(225, 98, 7, 0.2);
                border: 2px solid rgba(225, 98, 7, 0.8);
                box-shadow: 0px 3px 12px 0px rgb(225, 98, 7);
                &:hover {
                    box-shadow: 0px 3px 12px 0px rgb(225, 98, 7);;
                }
            }
        }
    }
    
}