.pozitii {
    #seconds {
        font-size: 28px !important;
        color: #eb7e4c;
        text-shadow: 0px 2px rgba(0,0,0,0.6);
        font-weight: bold;
    }
    .option {
        height: 120px !important;
        width: 150px !important;
        position: absolute;
    }

    .q-image {
        height: 280px !important;
        width: 500px !important;
        position: absolute;
        top: 280px;
        left: 440px;
    }

    .pozitii-vazapemasa {
        background-image: url('../../../media/questions/pozitii/vazapemasa.png');
        top: 220px;
        left: 580px;
        height: 120px !important;
        width: 120px !important;
    }
    .pozitii-radioPeJos {
        background-image: url('../../../media/questions/pozitii/radioPejosLangaMasa.png');
        top: 430px;
        left: 150px;
        height: 120px !important;
        width: 190px !important;
    }
    .pozitii-pisicaSubMasa {
        background-image: url('../../../media/questions/pozitii/pisicaSubMasa.png');
        top: 410px;
        left: 710px;
        height: 160px !important;
        width: 120px !important;
    }
    .pozitii-pantofSubMasa {
        background-image: url('../../../media/questions/pozitii/pantofSubMasa.png');
        top: 480px;
        left: 580px;
        height: 70px !important;
        width: 70px !important;
    }
    .pozitii-mingeSubMasa {
        background-image: url('../../../media/questions/pozitii/mingeSubMasa.png');
        top: 450px;
        left: 360px;
        height: 100px !important;
        width: 100px !important;
    }
    .pozitii-laptopPemasa {
        background-image: url('../../../media/questions/pozitii/laptopPemasa.png');
        top: 205px;
        left: 730px;
        height: 150px !important;
        width: 150px !important;
    }
    .pozitii-masa {
        background-image: url('../../../media/questions/pozitii/table.png');
    }
}