@import '../../utils/variables.scss';

.results-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 720px;
    width: 1390px;

    background: url('../../media/background-main-4.jpg') no-repeat;
    background-size: cover; 
    background-position: center;

    #panda-container {
        top: 320px;
        left: 580px;
        zoom: 1.5;
    }

    .results-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 1200px;

        .pandalita {
            background: url('../../media/pandalita.png') no-repeat;
            background-size: contain;
            height: 250px;
            width: 250px;
        }
    
        .pandalit {
            background: url('../../media/pandalit.png') no-repeat;
            background-size: contain;
            height: 250px;
            width: 250px;
        }

        .basket {
            background: url('../../media/basket.png') no-repeat;
            background-size: contain;
            height: 250px;
            width: 250px;
            position: absolute;
            top: 440px;
            left: 820px;
            transform: rotate(3deg);
        }
        .basket-2 {
            background: url('../../media/basket-2.png') no-repeat;
            background-size: contain;
            height: 250px;
            width: 250px;
            position: absolute;
            top: 440px;
            left: 820px;
            transform: rotate(3deg);
            z-index: 6;
        }

        .bamboo-leaf {
            background: url('../../media/bamboo-leaf-3.png') no-repeat;
            background-size: contain;
            height: 80px;
            width: 60px;
            position: absolute;
        }
    }
}