.button-default {
    background: url('../../media/play.png') no-repeat;
    background-size: contain;
    background-position: left center;
    height: 200px;
    width: 200px;
    display: flex;
    padding-top: 57px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(245, 241, 241);
    text-shadow: 0px 3px rgba(0,0,0,0.4);
    font-size: 32px;
    padding-left: 45px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: url('../../media/play-hover.png') no-repeat;
        background-size: contain;
    }
}