@import '../../utils/variables.scss';

.learn-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('../../media/background-main-3.jpg') no-repeat;
    background-size: cover; 
    background-position: center;

    .learn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        video {
            // box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
            box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.66);

        }
    }

    #panda-container {
        top: 550px;
        left: 1000px;
        zoom: 1;
    }
}