.order-shapes {
    #seconds {
        font-size: 28px !important;
    }
    .option {
        height: 150px !important;
        width: 150px !important;
    }

    .order-shapes-circle-1 {
        background-image: url('../../../media/questions/order-shapes/circle-1.png');
    }
    .order-shapes-square-3 {
        background-image: url('../../../media/questions/order-shapes/square-3.png');
    }
    .order-shapes-square-4 {
        background-image: url('../../../media/questions/order-shapes/square-4.png');
    }
    .order-shapes-triangle-1 {
        background-image: url('../../../media/questions/order-shapes/triangle-1.png');
    }
    .order-shapes-triangle-2 {
        background-image: url('../../../media/questions/order-shapes/triangle-2.png');
    }
    .order-shapes-triangle-3 {
        background-image: url('../../../media/questions/order-shapes/triangle-3.png');
    }
    .order-shapes-triangle-4 {
        background-image: url('../../../media/questions/order-shapes/triangle-4.png');
    }
    .order-shapes-triangle-no-1 {
        background-image: url('../../../media/questions/order-shapes/triangle-no-1.png');
    }
    .order-shapes-triangle-no-4 {
        background-image: url('../../../media/questions/order-shapes/triangle-no-4.png');
    }
}