.animale-mancare {

    .animale-mancare-gaina1 {
        background-image: url('../../../media/questions/animale-mancare/gaina1.png');
    }
    .animale-mancare-gaina2 {
        background-image: url('../../../media/questions/animale-mancare/gaina2.png');
    }
    .animale-mancare-caine1 {
        background-image: url('../../../media/questions/animale-mancare/caine1.png');
    }
    .animale-mancare-caine2 {
        background-image: url('../../../media/questions/animale-mancare/caine2.png');
    }
    .animale-mancare-vaca1 {
        background-image: url('../../../media/questions/animale-mancare/vaca1.png');
    }
    .animale-mancare-vaca2 {
        background-image: url('../../../media/questions/animale-mancare/vaca2.gif');
    }
}