.pairs {
    height: 467px;
    width: 830px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    #seconds {
        font-size: 28px !important;
        color: #eb7e4c;
        text-shadow: 0px 2px rgba(0,0,0,0.6);
        font-weight: bold;
    }

    .options {
        height: 410px;
        width: 830px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .optionsTop {
            align-items: flex-start;
        } 
        .optionsBottom {
            align-items: flex-end;
        }

        .optionsTop, .optionsBottom {
            height: 200px;
            width: 830px;
            display: flex;
            justify-content: space-around;
            z-index: 5;

            .option {
                height: 180px;
                width: 180px;
                background-repeat: no-repeat;
                background-size: contain; 
                background-position: center;
                border-radius: 10px;
                border: 2px solid #ccc;

                &:hover {
                    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
                }

                &.given-1 {
                    background-color: rgba(205, 0, 0, 0.2);
                    border: 2px solid rgba(205, 0, 0, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(205, 0, 0);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(205, 0, 0);;
                    }
                }
                &.given-2 {
                    background-color: rgba(30, 144, 255, 0.2);
                    border: 2px solid rgba(30, 144, 255, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(30, 144, 255);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(30, 144, 255);;
                    }
                }
                &.given-3 {
                    background-color: rgba(255, 165, 0, 0.2);
                    border: 2px solid rgba(255, 165, 0, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(255, 165, 0);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(255, 165, 0);;
                    }
                }
                &.given-4 {
                    background-color: rgba(60, 179, 113, 0.2);
                    border: 2px solid rgba(60, 179, 113, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(60, 179, 113);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(60, 179, 113);;
                    }
                }
                &.given-5 {
                    background-color: rgba(106, 90, 205, 0.2);
                    border: 2px solid rgba(106, 90, 205, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(106, 90, 205);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(106, 90, 205);;
                    }
                }
                &.given-6 {
                    background-color: rgba(255, 213, 0, 0.2);
                    border: 2px solid rgba(255, 213, 0, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(255, 213, 0);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(255, 213, 0);;
                    }
                }
                &.given-7 {
                    background-color: rgba(72, 26, 10, 0.2);
                    border: 2px solid rgba(72, 26, 10, 0.8);
                    box-shadow: 0px 3px 12px 0px rgb(72, 26, 10);
                    &:hover {
                        box-shadow: 0px 3px 12px 0px rgb(72, 26, 10);;
                    }
                }
            }
        }
    }
    
}