.profile-back {
    height: 90px;
    width: 90px;
    position: absolute;
    top: 10px;
    left: 1255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // background-image: url('../../media/profile-back.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;

    .profile-picture {
        height: 90px;
        width: 90px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 2;
    }

    .name {
        font-size: 13px;
        color: white;
    }
}