.obiect-umbra {
    .optionsTop{
        align-items: center !important;
    } 
    .optionsBottom {
        align-items: center !important;
    }
    .option {
        height: 120px !important;
        width: 110px !important;
    }

    .obiect-umbra-d1 {
        background-image: url('../../../media/questions/obiect-umbra/d1.png');
    }
    .obiect-umbra-d2 {
        background-image: url('../../../media/questions/obiect-umbra/d2.png');
    }
    .obiect-umbra-b1 {
        background-image: url('../../../media/questions/obiect-umbra/b1.png');
    }
    .obiect-umbra-b2 {
        background-image: url('../../../media/questions/obiect-umbra/b2.png');
    }
    .obiect-umbra-a1 {
        background-image: url('../../../media/questions/obiect-umbra/a1.png');
    }
    .obiect-umbra-a2 {
        background-image: url('../../../media/questions/obiect-umbra/a2.png');
    }
    .obiect-umbra-f1 {
        background-image: url('../../../media/questions/obiect-umbra/f1.png');
    }
    .obiect-umbra-f2 {
        background-image: url('../../../media/questions/obiect-umbra/f2.png');
    }
    .obiect-umbra-c1 {
        background-image: url('../../../media/questions/obiect-umbra/c1.png');
    }
    .obiect-umbra-c2 {
        background-image: url('../../../media/questions/obiect-umbra/c2.png');
    }
    .obiect-umbra-e1 {
        background-image: url('../../../media/questions/obiect-umbra/e1.png');
    }
    .obiect-umbra-e2 {
        background-image: url('../../../media/questions/obiect-umbra/e2.png');
    }
    .obiect-umbra-g1 {
        background-image: url('../../../media/questions/obiect-umbra/g1.png');
    }
    .obiect-umbra-g2 {
        background-image: url('../../../media/questions/obiect-umbra/g2.png');
    }
}