@import '../../utils/variables.scss';

.rewardTree {
    height: 610px;
    width: 300px;

    display: flex;
    align-items: center;

    background: url('../../media/bamboo-v4.png') no-repeat;
    background-size: contain;
    background-position: top center;

    .pandalica {
        background: url('../../media/pandalita.png') no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        z-index: 10;
        position: absolute;
        top: 80px;
        left: 1090px;
    }
}