.haine-pentru-anotimp {
    .option {
        height: 250px !important;
        width: 190px !important;
    }

    .imbracaminte-anotimp-iarna {
        background-image: url('../../../media/questions/imbracaminte-anotimp/iarna.png');
    }
    .imbracaminte-anotimp-vara {
        background-image: url('../../../media/questions/imbracaminte-anotimp/vara.png');
    }
    .imbracaminte-anotimp-primavara {
        background-image: url('../../../media/questions/imbracaminte-anotimp/primavara.png');
    }
    .imbracaminte-anotimp-toamna {
        background-image: url('../../../media/questions/imbracaminte-anotimp/toamna.png');
    }

    .anotimp-toamna {
        background-image: url('../../../media/questions/ce-anotimp-urmeaza/toamna.png');
    }
}