.cronological {
    height: 467px;
    width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .options {
        height: 400px;
        width: 830px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .option {
            height: 350px;
            width: 190px;
            background-repeat: no-repeat;
            background-size: contain; 
            background-position: center;
            border-radius: 10px;
            border: 2px solid #ccc;

            &:hover {
                box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
            }

            &.given {
                background-color: rgba(225, 98, 7, 0.2);
                border: 2px solid rgba(225, 98, 7, 0.8);
                box-shadow: 0px 3px 12px 0px rgb(225, 98, 7);
                &:hover {
                    box-shadow: 0px 3px 12px 0px rgb(225, 98, 7);;
                }
            }

            .number {
                height: 72px;
                width: 58px;
                background-repeat: no-repeat;
                background-size: contain; 
                background-position: center;
            }
            .number-1 {
                background-image: url('../../../../media/questions/number-1.png');
            }
            .number-2 {
                background-image: url('../../../../media/questions/number-2.png');
            }
            .number-3 {
                background-image: url('../../../../media/questions/number-3.png');
            }
            .number-4 {
                background-image: url('../../../../media/questions/number-4.png');
            }
            .number-5 {
                background-image: url('../../../../media/questions/number-5.png');
            }
            .number-6 {
                background-image: url('../../../../media/questions/number-6.png');
            }
            .number-7 {
                background-image: url('../../../../media/questions/number-7.png');
            }
            .number-8 {
                background-image: url('../../../../media/questions/number-8.png');
            }
        }
    }
    
}