.grup-legume {
    .option {
        height: 120px !important;
        width: 190px !important;
    }

    .grup-legume-banana {
        background-image: url('../../../media/questions/grup-legume/banana.png');
    }
    .grup-legume-dovleac {
        background-image: url('../../../media/questions/grup-legume/dovleac.png');
    }
    .grup-legume-ardei {
        background-image: url('../../../media/questions/grup-legume/ardei.png');
    }
    .grup-legume-rosii {
        background-image: url('../../../media/questions/grup-legume/tomatoes.png');
    }
    .grup-legume-morcovi {
        background-image: url('../../../media/questions/grup-legume/morcovi.png');
    }
    .grup-legume-porumb {
        background-image: url('../../../media/questions/grup-legume/porumb.png');
    }
    .grup-legume-ridiche {
        background-image: url('../../../media/questions/grup-legume/ridiche.png');
    }
    .grup-legume-lamaie {
        background-image: url('../../../media/questions/grup-legume/lemon.png');
    }
}