.animale-apa {
    .option {
        height: 120px !important;
        width: 190px !important;
    }

    .animale-apa-dog {
        background-image: url('../../../media/questions/animale-apa/dog.png');
    }
    .animale-apa-horse {
        background-image: url('../../../media/questions/animale-apa/horse.png');
    }
    .animale-apa-whale {
        background-image: url('../../../media/questions/animale-apa/whale.png');
    }
    .animale-apa-octopus {
        background-image: url('../../../media/questions/animale-apa/octopus.png');
    }
    .animale-apa-cow {
        background-image: url('../../../media/questions/animale-apa/cow.png');
    }
    .animale-apa-rooster {
        background-image: url('../../../media/questions/animale-apa/rooster.png');
    }
    .animale-apa-fish {
        background-image: url('../../../media/questions/animale-apa/fish.png');
    }
}