.order-plant {
    #seconds {
        font-size: 28px !important;
    }
    .option {
        height: 370px !important;
        width: 125px !important;
    }

    .order-plant-1 {
        background-image: url('../../../media/questions/order-plant/order-plant-1.png');
    }
    .order-plant-3 {
        background-image: url('../../../media/questions/order-plant/order-plant-3.png');
    }
    .order-plant-4 {
        background-image: url('../../../media/questions/order-plant/order-plant-4.png');
    }
    .order-plant-5 {
        background-image: url('../../../media/questions/order-plant/order-plant-5.png');
    }
    .order-plant-6 {
        background-image: url('../../../media/questions/order-plant/order-plant-6.png');
    }
    .order-plant-7 {
        background-image: url('../../../media/questions/order-plant/order-plant-7.png');
    }
}