.obiecte-camera {
    .option {
        height: 120px !important;
        width: 120px !important;
    }

    .obiecte-camera-frigider {
        background-image: url('../../../media/questions/obiecte-camera/frigider.png');
    }
    .obiecte-camera-chiuveta {
        background-image: url('../../../media/questions/obiecte-camera/chiuveta.png');
    }
    .obiecte-camera-wc {
        background-image: url('../../../media/questions/obiecte-camera/wc.png');
    }
    .obiecte-camera-pat {
        background-image: url('../../../media/questions/obiecte-camera/pat.png');
    }
    .obiecte-camera-dus {
        background-image: url('../../../media/questions/obiecte-camera/dus.png');
    }
    .obiecte-camera-biblioteca {
        background-image: url('../../../media/questions/obiecte-camera/biblioteca.png');
    }
    .obiecte-camera-dulap {
        background-image: url('../../../media/questions/obiecte-camera/dulap.png');
    }
    .obiecte-camera-aragaz {
        background-image: url('../../../media/questions/obiecte-camera/aragaz.png');
    }
    .obiecte-camera-semineu {
        background-image: url('../../../media/questions/obiecte-camera/semineu.png');
    }
    .obiecte-camera-televizor {
        background-image: url('../../../media/questions/obiecte-camera/televizor.png');
    }
    .obiecte-camera-masa {
        background-image: url('../../../media/questions/obiecte-camera/masa.png');
    }
    .obiecte-camera-canapea {
        background-image: url('../../../media/questions/obiecte-camera/canapea.png');
    }
}