.left-arrow {
    background: url('../../media/arrow-left.png') no-repeat;
    background-size: contain;
    height: 120px;
    width: 160px;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;

    &:hover {
        background: url('../../media/arrow-left-hover.png') no-repeat;
        background-size: contain;
    }
}
.redo {
    background: url('../../media/arrow-redo.png') no-repeat;
    background-size: contain;
    height: 120px;
    width: 160px;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;

    &:hover {
        background: url('../../media/arrow-redo-hover.png') no-repeat;
        background-size: contain;
    }
}