.zbor {
    .option {
        height: 120px !important;
        width: 190px !important;
    }

    .zbor-avion {
        background-image: url('../../../media/questions/zbor/avion.png');
    }
    .zbor-casa {
        background-image: url('../../../media/questions/zbor/casa.jpg');
    }
    .zbor-copil {
        background-image: url('../../../media/questions/zbor/copil.jpg');
    }
    .zbor-vrabie {
        background-image: url('../../../media/questions/zbor/vrabie.png');
    }
    .zbor-albina {
        background-image: url('../../../media/questions/zbor/albina.png');
    }
    .zbor-vapor {
        background-image: url('../../../media/questions/zbor/vapor.jpg');
    }
    .zbor-pinguin {
        background-image: url('../../../media/questions/zbor/pinguin.jpg');
    }
}