.panda-helper {
    background: url('../../media/panda-hint.png') no-repeat;
    background-size: contain;
    height: 200px;
    width: 100px;
    z-index: 10;
    position: absolute;
    top: 440px;
    left: 50px;
}