.pui-oaie {
    .option {
        height: 250px !important;
        width: 190px !important;
    }

    .pui-oaie-oaie {
        background-image: url('../../../media/questions/pui-oaie/oaie.jpg');
    }
    .pui-oaie-pui {
        background-image: url('../../../media/questions/pui-oaie/pui.png');
    }
    .pui-oaie-capra {
        background-image: url('../../../media/questions/pui-oaie/capra.jpg');
    }
    .pui-oaie-vaca {
        background-image: url('../../../media/questions/pui-oaie/vaca.jpg');
    }
}