@import '../../utils/variables.scss';

.avatar-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    color: #fdfb90;
    background: url('../../media/background-main-3.jpg') no-repeat;
    background-size: cover; 
    background-position: center;
    text-shadow: 0px 3px rgba(0,0,0,0.6);

    .avatar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 95%;

        .avatars {
            width: 920px;  
            height: 500px;
        }
        .avatar {
            height: 90px;
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            margin: 20px;
            transition: top 2s, left 2s;
            position: absolute;
            cursor: pointer;

            .avatar-img {
                height: 90px;
                width: 90px;
                background-size: contain; 
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
            }

            .name {
                font-size: 13px;
                color: white;
            }

            &:hover {
                box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
                transform: rotate(3deg);
            }

            &.avatar-chosen {
                top: -10px;
                left: 1235px;
            }
        }
            
            .avatar-0 {
                top: 150px;
                left: 200px;
            }
            .avatar-1 {
                top: 150px;
                left: 300px;
            }
            .avatar-2 {
                top: 150px;
                left: 400px;
            }
            .avatar-3 {
                top: 150px;
                left: 500px;
            }
            .avatar-4 {
                top: 150px;
                left: 600px;
            }
            .avatar-5 {
                top: 150px;
                left: 700px;
            }
            .avatar-6 {
                top: 150px;
                left: 800px;
            }
            .avatar-7 {
                top: 150px;
                left: 900px;
            }
            .avatar-8 {
                top: 150px;
                left: 1000px;
            }
            .avatar-9 {
                top: 300px;
                left: 200px;
            }
            .avatar-10 {
                top: 300px;
                left: 300px;
            }
            .avatar-11 {
                top: 300px;
                left: 400px;
            }
            .avatar-12 {
                top: 300px;
                left: 500px;
            }
            .avatar-13 {
                 top: 300px;
                left: 600px;
            }
            .avatar-14 {
                 top: 300px;
                left: 700px;
            }
            .avatar-15 {
                 top: 300px;
                left: 800px;
            }
            .avatar-16 {
                 top: 300px;
                left: 900px;
            }
            .avatar-17 {
                 top: 300px;
                left: 1000px;
            }
            .avatar-18 {
                 top: 450px;
                left: 200px;
            }
            .avatar-19 {
                 top: 450px;
                left: 300px;
            }
            .avatar-20 {
                 top: 450px;
                left: 400px;
            }
            .avatar-21 {
                 top: 450px;
                left: 500px;
            }
            .avatar-22 {
                 top: 450px;
                left: 600px;
            }
            .avatar-23 {
                 top: 450px;
                left: 700px;
            }
            .avatar-24 {
                 top: 450px;
                left: 800px;
            }
            .avatar-25 {
                 top: 450px;
                left: 900px;
            }
            .avatar-26 {
                 top: 450px;
                left: 1000px;
            }
    }

    #panda-container {
        top: 410px;
        left: 830px;
        zoom: 1.2;
    }
}

.avatar-img-0 {
    background-image: url('../../media/profile0.png');
}
.avatar-img-1 {
    background-image: url('../../media/profile-1.png');
}
.avatar-img-2 {
    background-image: url('../../media/profile-2.png');
}
.avatar-img-3 {
    background-image: url('../../media/profile-3.png');
}
.avatar-img-4 {
    background-image: url('../../media/profile-4.png');
}
.avatar-img-5 {
    background-image: url('../../media/profile-5.png');
}
.avatar-img-6 {
    background-image: url('../../media/profile-13.png');
}
.avatar-img-7 {
    background-image: url('../../media/profile-7.png');
}
.avatar-img-9 {
    background-image: url('../../media/profile-8.png');
}
.avatar-img-8 {
    background-image: url('../../media/profile-9.png');
}
.avatar-img-10 {
    background-image: url('../../media/profile-10.png');
}
.avatar-img-11 {
    background-image: url('../../media/profile-11.png');
}
.avatar-img-12 {
    background-image: url('../../media/profile-26.png');
}
.avatar-img-13 {
    background-image: url('../../media/profile-16.png');
}
.avatar-img-14 {
    background-image: url('../../media/profile-14.png');
}
.avatar-img-15 {
    background-image: url('../../media/profile-15.png');
}
.avatar-img-16 {
    background-image: url('../../media/profile-17.png');
}
.avatar-img-17 {
    background-image: url('../../media/profile-12.png');
}
.avatar-img-18 {
    background-image: url('../../media/profile-6.png');
}
.avatar-img-19 {
    background-image: url('../../media/profile-19.png');
}
.avatar-img-20 {
    background-image: url('../../media/profile-20.png');
}
.avatar-img-21 {
    background-image: url('../../media/profile-21.png');
}
.avatar-img-25 {
    background-image: url('../../media/profile-28.png');
}
.avatar-img-23 {
    background-image: url('../../media/profile-23.png');
}
.avatar-img-24 {
    background-image: url('../../media/profile-24.png');
}
.avatar-img-22 {
    background-image: url('../../media/profile-25.png');
}
.avatar-img-26 {
    background-image: url('../../media/profile-26.png');
}