.missing-shape {
    .option {
        height: 80px !important;
        width: 130px !important;
    }

    .missing-shape-opt-1 {
        background-image: url('../../../media/questions/missing-shape/opt-1.png');
    }
    .missing-shape-opt-2 {
        background-image: url('../../../media/questions/missing-shape/opt-2.png');
    }
    .missing-shape-opt-3 {
        background-image: url('../../../media/questions/missing-shape/opt-3.png');
    }
    .missing-shape-opt-4 {
        background-image: url('../../../media/questions/missing-shape/opt-4.png');
    }
    .missing-shape-opt-5 {
        background-image: url('../../../media/questions/missing-shape/opt-5.png');
    }
    .missing-shape-opt-6 {
        background-image: url('../../../media/questions/missing-shape/opt-6.png');
    }

    .missing-shape-question {
        background-image: url('../../../media/questions/missing-shape/question.png');
        height: 280px !important;
        width: 300px !important;
        // position: absolute;
        // top: 250px;
        // left: 280px;
    }
}