.meserii {

    .meserii-doctor1 {
        background-image: url('../../../media/questions/meserii/doctor1.png');
    }
    .meserii-doctor2 {
        background-image: url('../../../media/questions/meserii/doctor2.png');
    }
    .meserii-bucatar1 {
        background-image: url('../../../media/questions/meserii/bucatar1.png');
    }
    .meserii-bucatar2 {
        background-image: url('../../../media/questions/meserii/bucatar2.png');
    }
    .meserii-policeman1 {
        background-image: url('../../../media/questions/meserii/policeman1.png');
    }
    .meserii-policeman2 {
        background-image: url('../../../media/questions/meserii/policeman2.png');
    }
    .meserii-firefighter1 {
        background-image: url('../../../media/questions/meserii/firefighter1.png');
    }
    .meserii-firefighter2 {
        background-image: url('../../../media/questions/meserii/firefighter2.png');
    }
}