@import '../../utils/variables.scss';

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fdfb90;
    background: url('../../media/background-main-3.jpg') no-repeat;
    background-size: cover; 
    background-position: center;

    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #panda-container {
        top: 320px;
        left: 580px;
        zoom: 1.5;
        cursor: pointer;
    }
}