.App {
  text-align: center;
  width: auto;
  height: auto;
  overflow: auto;
  // font-family: monospace;
  font-family: 'Walter Turncoat', cursive;
  font-size: 50px;
  color: #f5ca3b;
  text-transform: uppercase;

  .main {
    background: url('./media/background-main-3.jpg') no-repeat;
  }
  
  background-size: cover; 
  background-position: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 720px;
  width: 1390px;
}

h1 {
  // box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.68);
  text-shadow: 0px 5px rgba(0,0,0,0.6);
}

.quiz-page {
  p {
    font-size: 36px;
    color: #eb7e4c;
    font-weight: bold;
    text-shadow: 0px 2px rgba(0,0,0,0.6);
  }
}

.overlay-disable-clicks {
  background-color: rgba(1, 1, 1, 0.01);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}