.sequence {
    .options {
        margin-top: 120px;
        padding: 15px;
    }

    .option {
        margin: 0 10px 10px 10px;
        height: 100px !important;
        width: 250px !important;
    }

    .sequence-opt-1 {
        background-image: url('../../../media/questions/sequence/opt-1.png');
    }
    .sequence-opt-2 {
        background-image: url('../../../media/questions/sequence/opt-2.png');
    }
    .sequence-opt-3 {
        background-image: url('../../../media/questions/sequence/opt-3.png');
    }
    .sequence-opt-4 {
        background-image: url('../../../media/questions/sequence/opt-4.png');
    }

    .sequence-question {
        height: 160px !important;
        width: 700px !important;
        position: absolute;
        top: 100px;
        left: 180px;
        background-image: url('../../../media/questions/sequence/question.png');
    }
}