.pandaInfo-container {
    .pandaInfo {
        width: 200px;
        height: 200px;

        background: url('../../media/16-161174_red-panda-clipart-cute-red-panda-drawing-chibi.png') no-repeat;
        background-size: contain;
        background-position: center;
        border: 2px solid red;
    }
}