@import '../../utils/variables.scss';

.quiz-page {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 720px;
    width: 1390px;

    background: url('../../media/background-light-v2.jpg') no-repeat;
    background-size: cover; 
    background-position: center;

    .quiz-container {
        height: 720px;
        width: 1050px;
      
        background-image: url('../../media/bamboo-15-frunze-numere-01.png');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: bottom center;

        &.img1 {
            background-image: url('../../media/bamboo-15-frunze-numere-1.png');
        }
        &.img2 {
            background-image: url('../../media/bamboo-progress-2.png');
        }
        &.img3 {
            background-image: url('../../media/bamboo-progress-3.png');
        }
        &.img4 {
            background-image: url('../../media/bamboo-progress-4.png');
        }
        &.img5 {
            background-image: url('../../media/bamboo-progress-5.png');
        }
        &.img6 {
            background-image: url('../../media/bamboo-progress-6.png');
        }
        &.img7 {
            background-image: url('../../media/bamboo-progress-7.png');
        }
        &.img8 {
            background-image: url('../../media/bamboo-progress-8.png');
        }
        &.img9 {
            background-image: url('../../media/bamboo-progress-9.png');
        }
        &.img10 {
            background-image: url('../../media/bamboo-progress-10.png');
        }
        &.img11 {
            background-image: url('../../media/bamboo-progress-11.png');
        }
        &.img12 {
            background-image: url('../../media/bamboo-progress-12.png');
        }
        &.img13 {
            background-image: url('../../media/bamboo-progress-13.png');
        }
        &.img14 {
            background-image: url('../../media/bamboo-progress-14.png');
        }
        &.img15 {
            background-image: url('../../media/bamboo-progress-15.png');
        }


        .quiz-question {
            margin-top: 125px;
            margin-left: 115px;
            height: 467px;
            width: 830px;
        }

        .felicitari {
            padding-top: 170px;
            font-size: 100px;
            text-shadow: 0px 2px rgba(0,0,0,0.6);
        }
    }
}