#panda-container {
    display: flex;
    z-index: 100;
    position: absolute;
    justify-content: baseline;
    align-items: flex-end;
    top: 590px;
    left: 1050px;
    transition: all 0.5s ease-in-out;

    .panda {
        background: url('../../media/giphy.gif') no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        z-index: 10;
    }
    
    .chat-head {
        background: url('../../media/chat.png') no-repeat;
        background-size: contain;
        height: 130px;
        width: 200px;
        position: relative;
        top: -50px;
        left: 85px;
        
        .voice {
            background-image: url('../../media/voice-hover.png');
            background-repeat:  no-repeat;
            background-size: contain;
            height: 65px;
            width: 65px;
            position: relative;
            top: 10px;
            left: 32px;
            cursor: pointer;

            &:hover {
                background-image: url('../../media/voice.png');                
            }
        }
    }
}