.ce-anotimp-urmeaza {
    .option {
        height: 265px !important;
        width: 263px !important;
        background-size: cover !important;
    }

    .anotimp-iarna {
        background-image: url('../../../media/questions/ce-anotimp-urmeaza/iarna.png');
    }
    .anotimp-primavara {
        background-image: url('../../../media/questions/ce-anotimp-urmeaza/primavara.png');
    }
    .anotimp-toamna {
        background-image: url('../../../media/questions/ce-anotimp-urmeaza/toamna.png');
    }
}